#button2, #button3, #button4, #button5, #button6  {
    width: 10%;
    height: 10px;
    padding: 50px;
    text-align: center;
    background-color: lightblue;
    margin-top:20px;
    display: none;
}
#button3 {
    width: 30%;
    height: 30px;
    padding: 50px 30;
    text-align: center;
    background-color: red;
    margin-top:20px;
    display: none;
    position: absolute;
}
#button4 {
    width: 30%;
    height: 30px;
    padding: 50px 30;
    text-align: center;
    background-color: green;
    margin-top:20px;
    display: none;
    position: relative;
}
#button5 {
    width: 30%;
    height: 30px;
    padding: 50px 30;
    text-align: center;
    background-color: yellow;
    margin-top:20px;
    display: none;
    position: absolute;
}
#button6 {
    width: 30%;
    height: 30px;
    padding: 50px 30;
    color: white;
    text-align: center;
    background-color: black;
    margin-top:20px;
    display: none;
    position: absolute;
}